:root {
  --font-stack: "Segoe UI", "San Francisco", "Ubuntu", "Fira Sans", "Roboto",
    sans-serif;
  --grey20: #ededf0;
  --grey30: #d7d7db;
  --grey40: #b1b1b3;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

#options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 960px;
}

#options > .column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

hr {
  height: 1px;
  background-color: var(--grey40);
  width: 100%;
  border: none;
  margin: 3px 0 0 0;
}

h3 {
  width: 100%;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 4px;
}

p {
  margin-bottom: 4px;
}

div.button,
button {
  border-radius: 2px;
  padding: 8px;
  border: solid 1px var(--grey30);
  background-color: transparent;
  font-weight: 400;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

div.button:hover,
button:hover {
  background-color: var(--grey30);
}

div.button:active,
button:active {
  background-color: var(--grey40);
}

/* Buttons except the leftmost should have margin */
.button2 {
  margin-left: 8px;
}

.action-result {
  border-radius: 4px;
  padding: 8px 16px;
  color: black;
  background-color: rgb(241, 243, 217);
}

#runNow {
  background-color: #fe8080;
}
#runNow:hover {
  background-color: var(--grey30);
}


